* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background: rgba(146, 175, 90, 0.58);
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr; /* Una columna por defecto en dispositivos móviles */
  gap: 10px;
}
#root {
  margin: 10%;
 }
.principal-container {
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.logo {
  width: 200px;
  height: auto;
  flex-shrink: 0;
  margin-top: 30px;
}

.containerHome {
  display: flex;
  flex-direction: column;
  background-color: rgb(242, 245, 244);
  border-radius: 15px;
  padding: 20px;
  align-items: center;
}
.containerInfo {
  display: flex;
  flex-direction: column;
  background-color: rgb(242, 245, 244);
  border-radius: 15px;
  padding: 20px;
  width: auto;
  align-items: center;
}
.inputInfo {
  width: 70%;
  margin: 10px 0;
  padding: 8px;
  border-radius: 8px;
  border: none;
  background-color: rgb(215, 225, 217);
}
.buttonInfo {
  width: 70%;
  margin: 10px 0;
  padding: 8px;
  border-radius: 8px;
  border: none;
  background-color: #6459d8;
  color: #fff;
}
.containerHome {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #fff;
  flex-direction: column;
}
.welcome {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #6459d8;
  font-family: Inika;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: auto;
}
.signUp,
.signIn {
  border-radius: 5px;
  background: rgb(215, 225, 217);
  width: 280px;
  height: 37px;
  flex-shrink: 0;
  margin: 10px;
  border: 0cm;
}
.signUp:hover,
.signIn:hover {
  background-color: #6459d8;
  color: #fff;
}

.return {
  border: none;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  margin: 35px;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../../src/fonts/Roboto-Medium.ttf') format('truetype');
  /* Cambia 'ruta-de-tu-fuente' y 'nombre-de-tu-fuente' por tus propias rutas y nombres */
}
.openGoogle {
  width: 62px;
  height: 40px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 10px 0; /* Padding arriba y abajo */
  cursor: pointer;
  background-color: #FFFFFF;
  color: #444;
  width: 190px;
  height: 40px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
  border: none;
}
.icon-google{
  width: 40px; /* Tamaño del logotipo (aprox. 18dp) */
  height: 40px;
  background-image: url('../../src/imagen/google.png');
  background-size: contain; /* Ajusta el tamaño del fondo */
  background-repeat: no-repeat; /* No se repite */
  background-position: center; /* Alinea el logo a la izquierda */
  margin-right: 16px;
  border: none;
}
.text-google{
  font-family: Roboto-Medium;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 14px;
}

 .li-profile {
  width: 7rem;
  height: 2rem;
  background-image: url('../../src/imagen/profile.png');
  background-size: contain; /* Ajusta el tamaño del fondo */
  background-repeat: no-repeat; /* No se repite */
  background-position: left; /* Alinea el logo a la izquierda */
 }
 .li-upload {
  width: 7rem;
  height: 2rem;
  background-image: url('../../src/imagen/upload.png');
  background-size: contain; /* Ajusta el tamaño del fondo */
  background-repeat: no-repeat; /* No se repite */
  background-position: left; /* Alinea el logo a la izquierda */
  cursor: default;
 }
 .li-home {
  width: 7rem;
  height: 2rem;
  background-image: url('../../src/imagen/home.png');
  background-size: contain; /* Ajusta el tamaño del fondo */
  background-repeat: no-repeat; /* No se repite */
  background-position: left; /* Alinea el logo a la izquierda */
 }
 .comment {
  width: 2rem;
  height: 2rem;
  border: 2px;
 }
 .post-container {
  width: 18rem;
  height: 5rem;
  background: white;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
}
 .post {
  border-radius: 10px;
  border: 1px solid #6459d8; /* Cambiado a 'border' para establecer el estilo y el color del borde */
  padding: 5px;
  text-align: center;
 }

 .container-dashbord {
  text-align: center
}

.name-social {
  position: fixed;
  top: 0;
  width: 100%;
  height: 20%;
}
.navigation-bar {
  background: white;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 20px;
  width: 100%;
  border-top: 2px solid #6459d8;
  display:flex;
  align-items: center;
}
.counter-like{
  width: 2rem;
  height: 2rem;
}
.list-navigation {
  width: 80%;
  list-style: none;
 padding: 0;
 margin: 0;
 display: flex;
 flex-direction: row;
}
.reaccion{
  display: flex;
  flex-direction: row;
  width: 10rem;
  height: 2rem;
  margin-top: 5px;
  margin-bottom: 15px;
}
.section-post {
  width: 19rem;
  margin-top: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.logo-dash{
  width: 40%;
  display: flex;
  justify-content: flex-start;
}

.welcome-message {
  font-family: sans-serif;
  font-size: 20px; /* Tamaño de fuente */
  font-weight: bold; /* Negrita */
  color: black; /* Color de texto (puedes cambiarlo) */
  margin-top: 20px; /* Margen superior */
  justify-content: flex-start;
}
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 5%;
  left: calc(50% - 32.6vw / 2);
  width: 30%;
  height: 80%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  padding: 10px;
  display: none;
}

/* Estilos para el botón de "Guardar cambios" */
.save-edit-button {
  background-color: #0077b6;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: 10%;
  left: 35%;
}

/* Estilos para el botón de "Cerrar" */
.close-modal-button {
  width: 10%;
  height: 10%;
  font-size: 38px;
  background-color: #ccc;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute; 
  top: 10px;
  right: 10px;
  z-index: 2;
}
/* Estilos para el text de editar */
.text-input{
  width: 80%;
  height: 70%;
  border: 2px solid #007bff; 
  padding: 10px;
}

.button-border {
  border: none;
}

.wall-container{
width: 4rem;
}
/* Estilos para Publicación*/
.modal-post{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 5%;
  left: calc(50% - 32.6vw / 2);
  width: 30%;
  height: 50%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  padding: 10px;
}
.comentario{
  width: 14rem;
  height: 12rem;
  border: 2px solid #007bff; 
  padding: 10px;
}
.enviar-comentario{
  background-color: #0077b6;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: 10%;
  left: 35%;
}
.cerrar-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
